
.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1 1 533px;
  text-align: center;
}

.content-image-boriosa {
  background: center/100% 100% no-repeat url(..//..//pictures/main/section-3/bycicle-seat-3.jpg);
}

.la-boriosa__main-image {
  flex: 1 1 1067px;
}

.logo-boriosa-background {
  background: center/100% 100% no-repeat url(..//..//pictures/main/section-3/bycicle-3.jpg);
}