.section-1__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 470px;
  justify-content: center;
}

.section-1__logo {
  margin-bottom: 35px;
}

.block-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-content__title {
  padding-bottom: 35px;
  font-size: 18px;
  color: rgb(53, 55, 56);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.block-content__text {
  text-align: center;
  font-size: 18px;
  line-height: 34px;
  font-weight: 400;
  color: #848789;
}