@media (max-width: $bp-tablet) {
  .header__burger {
    display: block;
    position: absolute;
    background: transparent;
    width: 30px;
    height: 20px;
    margin: 30px 20px;
    top: 0;
    right: 0;
  }

  .header__burger span {
    position: absolute;
    background-color: var(--header-color);
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    background-color: var(--header-color);
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header-nav {
    display: none;
  }
}

.burger-logo {
  margin: 10px 30px;

  @media screen and (min-width: $bp-tablet) {
    display: none;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 0px;
  transition: opacity 0.3s, visibility 0.3s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-main-text);
  transform: translateX(100%);
  transition: transform 0.3s;

  &.is-open {
    transform: translateX(0);
  }

  &__btn-close {
    position: absolute;
    top: 16px;
    right: 24px;
  }
}

.navigation-burger {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 13px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: var(--header-color);
  margin: 50px;
}

.navigation-burger a {
  padding-bottom: 10px;
  color: var(--header-color);
}

.navigation-burger img {
  margin: 10px;
}


.close-button:before,
.close-button:after {
  content: '';
  background-color: var(--header-color);
  position: absolute;
  width: 30px;
  height: 2px;
  right: 0;
  top: 20px;
}

.close-button:before {
  transform: rotate(45deg);
}

.close-button:after {
  transform: rotate(-45deg);
}